.section {
  width: 480px;
  background: #fff;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 6px;
}
.title {
  padding-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}
.list {
  display: flex;
}
.listItem {
  width: calc(480px / 5);
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  margin-bottom: 4px;
  color: #fff;
}
.percentage {
  color: #fff;
}
